* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: times;
  src: url(/src/assets/fonts/Tinos-Regular.ttf);
}

body {
  background-color: rgb(3, 3, 6);
}

.name {
  position: absolute;
  top: 15px;
  left: 40px;
  font-size: 18px;
  font-family: times;
  letter-spacing: 1px;
  z-index: 10;
  user-select: none;
  color: rgba(255, 255, 255, 0.707);
}


@media (max-width: 768px) {
  .name {
    top: 10px;
    left: 10px;
    font-size: 12px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .name {
    top: 12px;
    left: 20px;
    font-size: 13px;
  }
}

@media (min-width: 1025px) {
  .name {
    top: 15px; 
    left: 30px;
    font-size: 14px;
  }
}